<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="21PW04">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>PM Kisan - Sign Up</title>

	<!-- Font Icon -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
	<link rel="stylesheet" href="../static/registration-assets/vendor/nouislider/nouislider.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>

	<div id="app">
		<v-app>
			<v-main>
				<v-container>
					<v-stepper
						v-model="steps"
						vertical
					>
						<v-stepper-step
						:complete="steps > 1"
						editable
						step="1"
						>
						Personal Information
						<small>Please enter your infomation and proceed to next step so we can build your account</small>
						</v-stepper-step>

						<v-stepper-content step="1">
						<v-card
							class="mb-12"
						>
							<p>Name of Farmer</p>
							<v-row no-glutters>
								<v-col cols="12" md="6" sm="6">
									<v-text-field v-model="firstname" class="mr-2 ml-2" :rules="nameRules" outlined dense
										hint="Your first name" label="Firstname"></v-text-field>
								</v-col>
								<v-col cols="12" md="6" sm="6">
									<v-text-field v-model="lastname" class="mr-2 ml-2" :rules="nameRules" outlined dense
										hint="If no lastname then use inital" label="LastName"></v-text-field>
								</v-col>
							</v-row>
							<p>Father/Husband Name</p>
							<v-row no-glutters>
								<v-col cols="12" md="6" sm="6">
									<v-text-field v-model="fatherfirstname" class="mr-2 ml-2" :rules="nameRules" outlined dense
									hint="Your Father's First name" label="Father's Firstname"></v-text-field>
								</v-col>
								<v-col cols="12" md="6" sm="6">
									<v-text-field v-model="fatherlastname" class="mr-2 ml-2" :rules="nameRules" outlined dense
										hint="If no lastname then use inital" label="Father's LastName"></v-text-field>
								</v-col>
							</v-row>
							<v-row no-glutters>
								<v-col cols="12" md="6" sm="6">
									<p>Date of Birth</p>
									<v-text-field
										class="mr-2 ml-2"
										outlined
										dense
										label="Date of birth"
										hint="Enter the DOB in DD/MM/YYYY format"
										:rules="dobRules"
										v-model="dob"
									></v-text-field>
								</v-col>
								<v-col cols="12" md="6" sm="6">
									<p>Select Gender</p>
									<v-radio-group row class="mr-2 mt-0 ml-2" v-model="gender" :rules="mustRule">
										<v-radio label="Male" value="male"></v-radio>
										<v-radio label="Female" value="female"></v-radio>
									</v-radio-group>
								</v-col>
							</v-row>
							<v-row>
								<v-col cols="12" md="6" sm="6">
									<p>Category</p>
									<v-radio-group row class="mr-2 ml-2" v-model="category" :rules="mustRule">
										<v-radio label="General/Others" value="general"></v-radio>
										<v-radio label="SC" value="sc"></v-radio>
										<v-radio label="ST" value="st"></v-radio>
									</v-radio-group>
								</v-col>
								<v-col>
									<p>Select State</p>
									<v-select
										:items="listofstates"
										label="State"
										dense
										v-model="state"
										item-text="state"
										return-object
										:rules="mustRule"
										required
										outlined
										class="mr-2 ml-2"
									></v-select>
								</v-col>
							</v-row>
							<v-row>
								<v-col cols="12" md="6" sm="6">
									<p>Select District</p>
									<v-select
										:items="state.districts"
										item-text="name"
										label="District"
										dense
										v-model="district"
										outlined
										:rules="mustRule"
										class="mr-2 ml-2"
									></v-select>
								</v-col>
								<v-col cols="12" md="6" sm="6">
									<p>Sub-district</p>
									<v-text-field
										class="mr-2 ml-2"
										dense
										outlined
										label="Sub District"
										:rules="mustRule"
										v-model="subdistrict"
										hint="Enter the name of sub district"
									></v-text-field>
								</v-col>
							</v-row>
							<v-row>
								<v-col cols="12" md="4" sm="4">
									<p>Enter the block</p>
									<v-text-field
										class="mr-2 ml-2"
										dense
										outlined
										label="Block"
										v-model="block"
										:rules="mustRule"
									></v-text-field>
								</v-col>
								<v-col cols="12" md="4" sm="4">
									<p>Enter Village</p>
									<v-text-field
										class="mr-2 ml-2"
										dense
										outlined
										label="Village name"
										v-model="village"
										:rules="mustRule"
									></v-text-field>
								</v-col>
								<v-col cols="12" md="4" sm="4">
									<p>Enter pincode</p>
									<v-text-field
										class="mr-2 ml-2"
										dense
										outlined
										label="Pincode"
										v-model="pincode"
										:rules="mustRule"
									></v-text-field>
								</v-col>
							</v-row>
							<v-row>
								<v-col cols="12" md="4" sm="4">
									<p>Enter Aadhaar Number</p>
									<v-text-field
										class="mr-2 ml-2"
										dense
										outlined
										label="Aadhar Number"
										v-model="aadhaar"
										:rules="aadharRule"
										max="14"
									></v-text-field>
								</v-col>
								<v-col cols="12" md="4" sm="4">
									<p>Enter Smart Card number</p>
									<v-text-field
										class="mr-2 ml-2"
										dense
										outlined
										label="Smart Card Number"
										v-model="smartcard"
										:rules="smartCardRule"
									></v-text-field>
								</v-col>
								<v-col cols="12" md="4" sm="4">
									<p>Enter Phone number</p>
									<v-text-field
										class="mr-2 ml-2"
										dense
										outlined
										label="Phone number"
										max=""
										v-model="phoneno"
										:rules="phoneNumberRule"
									></v-text-field>
								</v-col>
							</v-row>
						</v-card>
						<v-btn
							color="primary"
							@click="steps = 2"
							:disabled="!isPartOneFilled"
						>
							Continue
						</v-btn>
						</v-stepper-content>

						<v-stepper-step
						:complete="steps > 2"
						step="2"
						:editable="isPartOneFilled"
						>
						Configure analytics for this app
						</v-stepper-step>

						<v-stepper-content step="2">
						<v-card
							color="grey lighten-1"
							class="mb-12"
							height="200px"
						></v-card>
						<v-btn
							color="primary"
							@click="steps = 3"
						>
							Continue
						</v-btn>
						</v-stepper-content>

						<v-stepper-step
							step="3"
							:complete="steps > 3"
							editable
						>
						Select an ad format and name ad unit
						</v-stepper-step>

						<v-stepper-content step="3">
						<v-card
							color="grey lighten-1"
							class="mb-12"
							height="200px"
						></v-card>
						<v-btn
							color="primary"
							@click="steps = 4"
						>
							Continue
						</v-btn>
						<v-btn text>
							Cancel
						</v-btn>
						</v-stepper-content>

						<v-stepper-step step="4">
						View setup instructions
						</v-stepper-step>
						<v-stepper-content step="4">
						<v-card
							color="grey lighten-1"
							class="mb-12"
							height="200px"
						></v-card>
						<v-btn
							color="primary"
							@click="steps = 1"
						>
							Continue
						</v-btn>
						<v-btn text>
							Cancel
						</v-btn>
						</v-stepper-content>
					</v-stepper>
				</v-container>
			</v-main>
		</v-app>
	</div>

	<!-- JS -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.6/qs.min.js" integrity="sha512-3TmPrquYLaAsUmZKXRARTDC5siWhLAdBVqNo4dWpDABBtLU62AaoTaQJEvjxjExcZYurO6i1dnK85k8pPIBlRg==" crossorigin="anonymous"></script>
	<script>
		new Vue({
			el: '#app',
			vuetify: new Vuetify(),
			delimters: ['[[', ']]'],
			mounted() {
				axios
					.post("http://localhost:8000/liststates")
					.then(res => {
						this.listofstates = res.data.result
					})
					.catch(err => {
						console.log(err)
					})
			},
			data: {
				valid: true,
				firstname: "",
				lastname: "",
				fatherfirstname: "",
				fatherlastname: "",
				dob: "",
				gender: null,
				category: null,
				dobRules: [
					v => !!v || 'Date of Birth is required',
					v => /^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[13-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)\d{2})$/.test(v) || 'DOB must be valid and in given format (DD/MM/YYYY)',
			  	],
				nameRules: [
        			v => !!v || 'Name is required',
        			v => v.length <= 20 || 'Name must be less than 20 characters',
      			],
				mustRule: [v => !!v || 'Field is required',],
				aadharRule: [
					v => !!v || 'Aadhar card number is required',
					v => /^\d{4}\s\d{4}\s\d{4}$/.test(v) || "Invalid Aadhaar Number"
				],
				smartCardRule : [
					v => !!v || "Smart Card number is required!",
					v => /^([a-zA-Z0-9]){8,12}\s*$/.test(v) || "Invalid Smart card"
				],
				phoneNumberRule : [
					v => !!v || "Phone number is required!",
					v => /^[789]\d{9}$/.test(v) || "Invalid Phone number."
				],
				steps: 1,
				state: Object,
				listofstates: [],
				district: Object,
				subdistrict: "",
				block: "",
				village: "",
				pincode: "",
				aadhaar: "",
				smartcard: "",
				phoneno: "",
				isPartTwoFilled: false,
				isPartThreeFilled: false,
			},
			computed: {
				isPartOneFilled() {
					return (
						this.gender && this.category &&
						this.firstname && !(jQuery.isEmptyObject(this.state)) &&
						!(jQuery.isEmptyObject(this.district)) && this.lastname &&
						this.fatherfirstname && this.fatherlastname && this.dob
						&& this.subdistrict && this.block && this.village && this.pincode
					)
				},
			},
			methods: {
			},
		})
	</script>

	<script src="../static/registration-assets/vendor/jquery/jquery.min.js"></script>
	<script src="../static/registration-assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="../static/registration-assets/vendor/jquery-validation/dist/additional-methods.min.js"></script>
	<script src="../static/registration-assets/vendor/jquery-steps/jquery.steps.min.js"></script>
	<script src="../static/registration-assets/vendor/nouislider/nouislider.min.js"></script>
	<script src="../static/registration-assets/vendor/wnumb/wNumb.js"></script>
</body>

</html>