<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="21PW04">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>PM Kisan - Sign Up</title>

	<!-- Font Icon -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
	<link rel="stylesheet" href="../static/registration-assets/vendor/nouislider/nouislider.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>

	<div id="app">
		<v-app>
			<v-main>
				<v-container>
					<v-spacer></v-spacer>
					<v-card class="pa-2" outlined tile>
						<h1>Personal Information</h1>
						<h3>Please enter your infomation and proceed to next step so we can build your account</h3>
						<form action="/register" method="POST">
							<v-row no-glutters>
								<v-col cols="12" md="10" sm="10">
									<v-row class="mt-4">
										<v-col cols="12" md="6" sm="6">
											<p>Name of Farmer</p>
											<v-text-field name="firstname" class="mr-2 ml-2" outlined dense
												hint="Your first name" label="Firstname"></v-text-field>
										</v-col>
										<v-col cols="12" md="6" sm="6">
											<p style="visibility: hidden;">Name of Farmer</p>
											<v-text-field name="lastname" class="mr-2 ml-2" outlined dense
												hint="If no lastname then use inital" label="LastName"></v-text-field>
										</v-col>
									</v-row>
									<v-row class="mt-1">
										<v-col cols="12" md="6" sm="6">
											<p>Father / Husband Name</p>
											<v-text-field name="fatherfirstname" class="mr-2 ml-2" outlined dense
												hint="Your Father's First name" label="Firstname"></v-text-field>
										</v-col>
										<v-col cols="12" md="6" sm="6">
											<p style="visibility: hidden;">Name of Farmer</p>
											<v-text-field name="fatherlastname" class="mr-2 ml-2" outlined dense
												hint="If no lastname then use inital" label="LastName"></v-text-field>
										</v-col>
									</v-row>
									<v-row>
										<v-col cols="12" md="6" sm="6">
											<v-text-field
												class="mr-2 ml-2"
												outlined
												dense
												label="Date of birth"
												hint="Enter the DOB in DD/MM/YYYY format"
												:rules="dobRules"
											></v-text-field>
										</v-col>
										<v-col cols="12" md="6" sm="6"></v-col>
									</v-row>
									</v-cols>
									<!-- Additional space -->
									<v-col cols="12" md="2" sm="2">
									</v-cols>
							</v-row>
						</form>
					</v-card>
			</v-main>
		</v-app>
	</div>

	<!-- JS -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
	<script>
		new Vue({
			el: '#app',
			vuetify: new Vuetify(),
			data: {
				date: null,
				isPickerVisible: false,
				gender: null,
				displayDate: null,
				dobRules: [
					v => !!v || 'Date of Birth is required',
					v => /^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[13-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)\d{2})$/.test(v) || 'DOB must be valid and in given format (DD/MM/YYYY)',
			  	],
			},
			methods: {
				updateVisiblity(isVisible) {
					this.isPickerVisible = isVisible
				}
			},
		})
	</script>

	<script src="../static/registration-assets/vendor/jquery/jquery.min.js"></script>
	<script src="../static/registration-assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="../static/registration-assets/vendor/jquery-validation/dist/additional-methods.min.js"></script>
	<script src="../static/registration-assets/vendor/jquery-steps/jquery.steps.min.js"></script>
	<script src="../static/registration-assets/vendor/nouislider/nouislider.min.js"></script>
	<script src="../static/registration-assets/vendor/wnumb/wNumb.js"></script>
</body>

</html>